.navbar.Desktop {
  background-color: var(--primary);
  transition: width 200ms ease;
  padding: 0;
  margin: 0;
  z-index: 1040;

  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .nav-item {
      display: flex;

      .nav-link {
        display: flex;
        align-items: center;
        height: 4rem;
        color: white;
        cursor: pointer;

        .link-text {
          display: none;
          margin-left: 1rem;
          color: white;
          font-weight: bold;
        }

        .link-icon {
          width: 2rem;
          min-width: 2rem;
          height: 2rem;
          margin: 0 1rem;
        }

        .link-icon-logo {
          width: 2.5rem;
          min-width: 2.5rem;
          height: 2.5rem;
          margin: 0 0.75rem;

          -webkit-filter: drop-shadow(0px 2px 2px #222);
          filter: drop-shadow(0px 2px 2px #222);
        }

        .link-icon,
        .link-text {
          filter: grayscale(100%) opacity(0.5);
          transition: var(--transition-speed);
        }

        .fa-primary,
        .fa-secondary {
          transition: var(--transition-speed)
        }
      }

      .nav-link-pin {
        width: 100%;
        display: flex;
        align-items: center;
        height: var(--footer-height);
        color: white;
        border-top: 1px solid var(--primarydark);

        .link-icon-pin {
          align-items: center;
          width: 100%;
          filter: grayscale(100%) opacity(0.5);
          transform: rotate(0deg);
          transition: var(--transition-speed);
          cursor: pointer;
        }

        .link-icon-pin.Off {
          transform: rotate(-180deg) !important;
        }
      }

      .nav-link:hover,
      .nav-link-pin:hover {
        background: var(--primarydark);

        .link-icon,
        .link-text,
        .link-icon-pin {
          filter: grayscale(0%) opacity(1);
        }
      }
    }

    .nav-item.isSelected {
      background: var(--primaryselected);

      .link-icon,
      .link-text,
      .link-icon-pin {
        filter: grayscale(0%) opacity(1);
      }

      .fa-primary,
      .fa-secondary {
        color: white;
        --fa-secondary-opacity: 0.7;
        --fa-primary-opacity: 1.0;
      }
    }
  }
}

/* Small screens */
@media only screen and (max-width: 575.98px) {
  .navbar.Desktop {
    height: 4rem;

    .navbar-nav {
      flex-direction: row;
      flex-wrap: wrap;

      .nav-item {
        height: 4em;

        .nav-link {
          justify-content: center;

        }
      }

      .nav-item-pin {
        display: none !important;
      }

      .nav-item.seperate {
        margin-left: auto;
      }

      .secondRow {
        display: none;
      }

      .dropper {
        margin-left: auto;

        svg {
          transform: rotate(0deg);
          transition: var(--transition-speed);
        }
      }

      .dropperBreak {
        width: 100%;
        height: 0;
      }
    }
  }

  .navbar.Desktop.Dropped {
    height: 8rem;

    .dropper svg {
      transform: rotate(-180deg) !important;
    }

    .secondRow {
      display: flex !important;
    }
  }
}

/* Large screens */
@media only screen and (min-width: 576px) {
  .navbar.Desktop {
    width: 4rem;
    overflow-y: auto;

    .navbar-nav {
      align-items: center;

      .dropper,
      .dropperBreak {
        display: none;
      }

      .nav-item {
        width: 100%;

        .nav-link {
          width: 100%;
        }
      }

      .nav-item.seperate {
        margin-top: auto;
      }
    }
  }

  .navbar.Desktop.Expanded {
    width: 14rem;

    .link-text {
      display: block !important;
    }
  }
}
